* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Menu */
.bg-dark {
  background-color: #3EB489 !important;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: #333;
}

.navbar-dark .navbar-nav .nav-link {
  color: #FAFDF3;
}

/* Content */
.page {
  background-color: #FAFAFA;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: "Helvetica", "Arial", sans-serif;
  font-weight: bold;
}

h1 {
  color: #3EB489;
}

h3, h5 {
  color: #3EB489;
  padding: 15px 15px;
  font-weight: normal;
  text-align: center;
}

h6 {
  color: #FAFDF3;
  font-weight: normal;
  text-align: center;
  padding-top: 20px;
}

p {
  color: #3EB489;
  text-align: center;
  padding: 10px 10px;
}

.title {
  width: 600px;
  padding: 15px 15px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.section {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  height: 125px;
  border-bottom: 5px solid #3EB489;
}

.content {
  background-color: #EAEDF0;
  height: 675px;
}

.header,
.feature-1,
.feature-3 {
  background-color: #C9F4DE;
}

.feature-2 {
  background-color: #EAEDF0;
}

.feature-1,
.feature-2,
.feature-3 {
  border-top: 5px solid #3EB489;
  /* border: 2px solid red;   /* For debugging */
}

/* Footer */
.footer {
  height: 150px;
  background-color: #3EB489;
  color: #FAFDF3;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer-item {
  /* border: solid black 1px;   For debugging */
}

.footer-two {
  width: 100%;
}

.footer ul {
  text-align: center;
  text-decoration: none;
  list-style-type: none;
  color: #FAFDF3;
}

.box {
  /* border: solid black 1px;   For debugging */
}

/* Link */
.the-link:link {
  color: red;
  text-decoration: none;
}

.the-link:visited {
  color: purple;
}

.the-link:hover {
  color: aqua;
  text-decoration: underline;
}

.the-link:active {
  color: red;
}

.the-link:visited:hover {
  color: aqua;
}

.the-link:visited:active {
  color: red;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  /* DEBUG:  */
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .header {
    height: 100px;
  }

  .content {
    height: 300px;
  }

  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }

  .feature-2 {
    background-color: #C9F4DE;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }

  .header {
    height: 100px;
  }

  .content {
    height: 300px;
  }

  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }

  .footer-two {
    width: 960px;
  }
}
